<iframe src="https://www.youtube.com/embed/IMp3x68KrqY?list=PLEfBSff_VVkHftZydK6Sh3n8PzZlGuXbn" width="854" height="480" ></iframe>



{%  if product.metafields.item.relate != blank %}
  <div class="page-width"> 
      <div class="grid"> 
        {% for item in product.metafields.item.relate.value %}
          <div style="flex: 1;">
            <a href="{{ item.url }}">
              <img src="{{ item.featured_image | img_url: 'large' }}" style="max-width: 100%;">
            </a>
            <h3>{{ item.title }}</h3>
            <p>{{ item.price_min | money }} ～</p>
          </div>
        {%- endfor %}
      </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "メタフィールド商品リスト",
    "settings":[] ,
    "presets": [
      {
        "name": "メタフィールド商品リスト"
      }
    ],
    "templates": ["product"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
