.col2list{
  padding: 1.25rem 0;
  border-top: 1px #bbb solid;
  font-size: 14px;
}
.col2list:last-child{
  border-bottom: 1px #bbb solid;
}


/* =============================================
/  画面サイズ 750px以上 の場合
/============================================ */
@media screen and (min-width: 750px) {
  .col2list {
    display: flex;
  }
  .col2list_heading{
    flex: 0 0 25%;
  }
  .col2list_text{
    flex: 1;
  }
}


/* 編集１
/* 編集2
/* 編集3
/* 編集4
/* 編集5